* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/cartas\ 2.jpg");
  background-color: #0a0908;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: "Roboto";
  color: white;
  height: 100%;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}

.div-mae {
  border: 0.1rem solid #495057;
  padding: 40px;
  height: 450px;
  border-radius: 10px;
  background-color: transparent;

  backdrop-filter: blur(190px)
}

#title {
  padding-bottom: 20px;
  font-size: 70px;
  font-family: "Roboto";
  font-weight: 900;
  -webkit-text-stroke: rgb(15, 0, 32);
  -webkit-text-stroke-width: 0.6px;
}

#title {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to bottom, #1865FB, #b5179e);
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */

  animation: titles 2s ease infinite;
  transition: background-image 2s ease-in-out;
}

@keyframes titles {
  0% {
    background-image: linear-gradient(to bottom, #1865FB, #b5179e);
  }
}


.interação {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  height: 100px;
  margin-bottom: 40px;
}

#number {
  height: 41px;
  border-radius: 7px;
  width: 350px;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 900;
  color: gray;
  border: 0.2px solid #6c757d;
  background-color: rgba(10,23,55, 0.4);
}

#number:hover {
  transform: scale(1.1);
  transition: 100ms linear;
}

#enviar {
  width: 90px;
  border-radius: 5px;
  height: 35px;
  border: 2px solid #007369;

  border: 0.2px solid #6c757d;
  color: gray;

  background-color: transparent;

  backdrop-filter: blur(80px);
}

#enviar:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 100ms linear;
}

#tentativas {
  padding: 5px ;
  color:gray;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 19px;
}

#testeAcerto {
  padding: 5px ;
  color:gray;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 19px;
}

#resultadoFinal {
  padding: 5px;
  color:gray;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 19px;
}

#newgame {
  height: 35px;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid #6c757d;
  width: 90px;
  color: gray;
} 

#newgame:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 100ms linear;
}